doctype 5
html
    head
        meta(name='viewport',content='width=device-width,height=device-height,initial-scale=1,user-scalable=no')
        title ControllerPage
        script(src='/scripts/mc/mc-controller.js')
        script(src='/scripts/evader/controller/main.js')
        script
            window.onload = function() {
                initController("#{serverName}", #{serverPort}, "#{ticket}");
            }   
    body
        div#debug
        div#container